#game_canvas{
    border: 1px solid #000000;
    background-color: #ffffff;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

body{
    background-color: #cfbbbb;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
}
#leftmenu{
    display: none;
    position: relative;
    border: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    vertical-align: top;
    background-color: #8b3020;
    width: 150px;
    height: 1030px;
}

#rightmenu{
    display: none;
    position: relative;
    border: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    vertical-align: top;
    background-color: #0d9c14;
    width: 150px;
    height: 1030px;
}

#leftmenu.visible, #rightmenu.visible {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#leftmenu.visible {
    animation-name: slideInLeft;
}

#rightmenu.visible {
    animation-name: slideInRight;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#leftmenu img, #rightmenu img {
    margin: auto;
    width: 100px;
    height: auto;
    margin-bottom: 200px;
    margin-top: 20px;
    display: block;
}

#startingtext {
    font-size: 50px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    position: relative;
    animation: tilt 2s ease-in-out infinite;
}

@keyframes tilt {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

#bottommenu {
    display: none;
    position: relative;
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    margin: auto;   
    background-color: #1b3194;
    width: 1030px;
    margin-top: 5px;
    height: 150px;
}

#bottommenu img {
    margin: auto;
    width: 100px;
    height: auto;
    display: inline-block;
    margin: 20px 76px;
}

#bottommenu.visible {
    display: block;
    animation-name: slideInBottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideInBottom {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
